
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  h1{
    align-items: center;
    padding: 1%;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

table{
  margin-top: 8%;
  border-color: cornflowerblue;
  border-radius: 20%;
}

.button_1 {
  padding-left: 2%;
  font-family: "Roboto", sans-serif;
  padding: 2%;
  text-transform: uppercase;
  outline: 0;
  background: cornflowerblue;
  width: 100%;
  border: 10%;
  border-color: rgb(52, 112, 225);
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}
.button_1:hover, .button_1:active, .button_1:focus {
  background: rgb(46, 94, 182);
}
@media only screen and (max-width:500px) {
  .misturnos{
    padding-top: 10%;
  }
  /* For mobile phones: */
  small{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  /* For desktop: */
  .misturnos{
    padding-top: 10%;
  }
  
}


.busqueda{
  padding-inline-start: 60%;
}