<div class="container">

  <div class="row">

      <div class="col-sm-5 colum02">
      <!-- <div class="col-sm-7"> -->
          
          <img src="./../../../favicon.ico" width="100%">
  
      </div>

      <br><br>
      <div class="col-sm-7 colum01">

        <h1 class="titulo" > ClinicaRMM </h1>

        <h4>  Somos tus especialistas en salud de confianza</h4>
              
        <!-- <div class="colum02">
            <h4> Somos tus especialistas en salud de confianza</h4>
        </div>   -->
              
          
      
      </div>


      <!-- <div class="col-sm-5">
          <app-login></app-login>
  
      </div> -->

  </div>

</div>
