<div class="row row-cols-1 row-cols-md-3 mb-3 text-center cardHistoria">
    <div class="col" *ngFor="let hist of historia">
      <div class="card mb-4 rounded-3 shadow-sm" >
        <div class="card-header py-3">
          <!-- <h4 class="my-0 fw-normal">Dr.: {{hist.turno.especialista.nombre}}</h4> -->
          <h4 class="my-0 fw-normal">Dr.: error</h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title"><p>
            <!-- <strong>Atencion:</strong>
            {{hist.turno.especialidad}} -->
            <strong>Especialidad:</strong>error
          </p>
          <small class="text-muted fw-light"></small></h4>
          <ul class="list-unstyled mt-3 mb-4">
                <p><strong>Altura: </strong> {{hist.altura}} mts.</p>

                <p><strong>Peso: </strong>{{hist.peso}} Kg.</p>

                <p><strong>Temperatura: </strong>{{hist.temperatura}}°C.</p>

                <p><strong>Presion: </strong>{{hist.presion}}</p>

                <strong>Diagnostico:</strong>
                <p>Caries: {{hist.clave}} ({{hist.valor}}) </p>

                <p>Medicacion: <p>{{hist.clave2}}: {{hist.valor2}}</p><p>
                <strong *ngIf="hist.turno.resenia != ''">
                  {{hist.turno.resenia}}:
                </strong>
              </p>
          </ul>
          
        </div>
      </div>
    </div>
</div>
<!-- <h1>
    Historia clínica
  </h1>
  <p>
    <strong>
      Nombre del medico:
    </strong>
    {{historia.turno.especialista.nombre}}, {{historia.turno.especialista.apellido}}
  </p>
  <p>
    <strong>
      Especialidad del medico:
    </strong>
    {{historia.turno.especialidad}}
  </p>
  <h3>
    Datos de paciente:
  </h3>
  <p>
    <strong>
      Altura:
    </strong>
    {{historia.altura}}
  </p>
  <p>
    <strong>
      Peso:
    </strong>
    {{historia.peso}}
  </p>
  <p>
    <strong>
      Temperatura:
    </strong>
    {{historia.temperatura}}
  </p>
  <p>
    <strong>
      Presion:
    </strong>
    {{historia.presion}}
  </p>
  <p>
    <strong>
      {{historia.clave}}:
    </strong>
    {{historia.valor}}
  </p>
  <p>
    <strong>
      {{historia.clave2}}:
    </strong>
    {{historia.valor2}}
  </p>
  <p>
    <strong *ngIf="historia.turno.resenia != ''">
      {{historia.turno.resenia}}:
    </strong>
  </p> -->
