<div class="row row-cols-1 row-cols-md-3 mb-3 text-center cardHistoria">
  <div *ngFor="let auxhistoria of historia  ">
    <div *ngIf="auxhistoria.historia != null ">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Dr. {{auxhistoria.especialista.apellido}}, {{auxhistoria.especialista.nombre}}</h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">
            <p>
              <strong>Especialidad:</strong> {{auxhistoria.especialidad}}
            </p>
            <small class="text-muted fw-light"></small>
          </h4>
          <h4 class="card-title pricing-card-title">
            <p>
              <strong>Paciente:</strong> {{auxhistoria.paciente.apellido}}, {{auxhistoria.paciente.nombre}}
            </p>
            <small class="text-muted fw-light"></small>
          </h4>
          <ul class="list-unstyled mt-3 mb-4">
            <p><strong>Altura: </strong> {{auxhistoria.historia.altura}} mts.</p>

            <p><strong>Peso: </strong>{{auxhistoria.historia.peso}} Kg.</p>

            <p><strong>Temperatura: </strong>{{auxhistoria.historia.temperatura}}°C.</p>

            <p><strong>Presion: </strong>{{auxhistoria.historia.presion}}</p>

            <strong>Diagnostico:</strong>
              <p>Observacion: {{auxhistoria.historia.clave}} ({{auxhistoria.historia.valor}}) </p>

              <p>Medicacion: {{auxhistoria.historia.clave2}}: {{auxhistoria.historia.valor2}}</p>
            <div *ngIf="auxhistoria.resenia != ''">
              <strong>Reseña:</strong> {{auxhistoria.resenia}}
            </div>

          </ul>

        </div>
      </div>
    </div>

  </div>
</div>