<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate"
></ngx-spinner> 

<div class="container">
    <h1>Historial Clinico del Paciente</h1>
</div>
<div class="row">
    <div class="col-sm-5 colum1">
        <img src="./../../../assets//img/informe.jpg" width="100%">
    </div>

    <div class="col-sm-6">
        <div class="historia-clinica">
            <div class="form">
                <h3>Datos:</h3>
                
                <form class="form-group" [formGroup]="formGroup" (ngSubmit)="enviarHistoria()">
                    
                    
                    <label>Altura(m):</label><br>
                    <input type="number" step="0.01" name="altura" formControlName="altura">
                    <small class="invalid" *ngIf="formGroup.get('altura')?.errors?.min  && formGroup.get('altura')?.touched">Minimo 0,50 m.</small>
                    
                    <br>
                    <label>Peso(Kg): </label> <br>
                    <input type="number" step="0.01" name="peso" formControlName="peso">
                    <br>
                    <label>Temperatura(°C): </label><br>
                    <input type="number" step="0.01" name="temperatura" formControlName="temperatura">
                    <br>
                    <label>Presion: </label><br>
                    <input type="number" step="0.01" name="presion" formControlName="presion">
                    <br>
                    <label>Diagnostico: </label><br>
                    <input class ="clave" type="text" name="clave" placeholder="Caries..." formControlName="clave">
                    <input class ="valor" type="number" name="valor" placeholder="1..." formControlName="valor">
                    <br>
                    <input class ="clave" type="text" name="clave2" placeholder="Medicacion al dia..." formControlName="clave2">
                    <input class ="valor" type="number" name="valor2" placeholder="2..." formControlName="valor2">
        
                    
                    <button type="submit" class="botonSubmit" [disabled]="formGroup.invalid">Enviar</button>
                    </form>
                </div>
            </div>
    </div>
</div>
